<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Simple Upload / Download</title>
	<link rel="stylesheet" type="text/css" href="#" th:href="${application.css} + @{style.css}"/>
</head>
<body>
	<h1>Upload a File</h1>
	<form action="/file/upload" method="post" enctype="multipart/form-data">
		<p>Select a file : <input type="file" name="file" size="50" /></p>
		<input type="submit" value="Upload It" />
	</form>
	
	<h1>Download a File</h1>
	<form action="/file/download" method="get">
		<p>Select a file : <input type="text" name="filename" size="50" /></p>
		<input type="submit" value="Download It" />
	</form>
</body>
</html>