<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Welcome</title>
	<script type="text/javascript" src="#" th:src="${js} + @{jquery-2.1.4.min.js}"></script>
	<script type="text/javascript" src="#" th:src="${js} + @{jsonml-dom.js}"></script>
	<script type="text/javascript" src="#" th:src="${js} + @{jsonml-html.js}"></script>
	<link rel="stylesheet" type="text/css" href="#" th:href="${css} + @{style.css}" />
</head>
<body>
	<h1 id="helloworld">Hello World</h1>
	<p th:text="${it}">message</p>
</body>
</html>